.hero-section {
  &.hero-banner {
    padding-top: 0;
    position: relative;
    overflow: hidden;
    height: 400px;

    @media (max-width: 576px) {
      height: 300px;
    }

    @media (min-width: 992px) {
      height: 400px;
    }

    .bg-overlay {
      &.bg-dark {
        opacity: 0.5;
      }
    }

    .wave-shape {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      margin-bottom: -1rem;
      z-index: 9;

      svg {
        fill: $body-bg;
        width: 100%;
        height: 150px;
      }
    }
  }
} 